


.mainContainer{


    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: grid; 
    place-content: center;  
    text-align: center;
    background-color: #eeede8;  



}



.subContainer{

    max-width: 820px;
    padding: 0 1rem;




}



.mainHeadline{

    color: #013699; 
    font-size: clamp(1rem, 1vw + 2rem, 3rem);
    font-weight: 600;   



}



.supportingText{


    font-size: clamp(1rem, 1vw + 0.95rem, 1.35rem);
    line-height: 1.6;
    color: #00143d; 
    font-family: "Nunito";



}



.ivvi{


    display: inline;
    margin: 0 5px; 
    font-weight: 600; 




}

@media(max-width: 950px){


    /* Add in extra padding here  */
    

.mainContainer{


    width: 100%;
    margin: 0 auto;
    padding-top: 4rem; 
    padding-bottom: 1.5rem; 

    display: grid; 
    place-content: center;  
    text-align: left;   

    background-color: #eeede8;  



}

.supportingText{


    font-size: clamp(1rem, 1vw + 0.95rem, 1rem);
    line-height: 1.6;
    color: #00143d; 
    font-family: "Nunito";



}


    

}


