/* ImageText Component Styles */

.featureMainContainer {


    width: 100vw;
    padding: 5rem 0;

    display: grid;
    place-content: center;
    margin: 0 auto; 
    

    color: #013699; 
    background-color: white;  


    
}

.gridContainer {

    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;

    width: 985px;
    margin: auto; 

    /* outline: 2px solid lime; */

    
	
}

.imageContainer {


	
}

.mainImage{
     
    
    width: 292px; 
    height: 292px; 
    border-radius: 4px !important;
    
    


}




.textContainer {
	
}

.mainHeading {

    /* font-size: var(--mainSectionHeadingFontSize); */
    font-size: 48px;
    /* width: 99%;  */
    width: 455px; 


    font-weight: 600;
    line-height: 1.2;
	
}


.supportingHeadlineContainer{


    width: 50%; 

}
.supportingHeadline{


    font-size: clamp(1rem, 2rem + 1vw, 2.85rem);
    font-weight: 600;   





}





.bulletPointListContainer {



    font-size: var(--main-section-font-size); 
    margin-top: 1.35rem; 
    padding-right: 2rem; 
    width: 50vw; 
    /* max-width: 618px;  */






	
}









.paragraph{

    margin: 1rem auto; 
    font-family: "Nunito";
    font-size: 24px;
    font-weight: 400 !important;
    /* width: 688px;  */







}



.ctaLink{




}



.cta{
    width: 220px;
    height: 44px;
    display: grid;
    place-content: center;
    outline:  2.4px solid #eeede8;
    background-color: #eeede8;
    font-family: "Nunito" !important; 
    font-size: 1.15rem;
    font-weight: 600;

    color: #ef7a1a;
    font-weight: 690;
    margin-top: 2em; 
    margin-left: -1rem; 
    /* padding: 0 2rem;  */




    border-radius:none !important;   

    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;



}








.bulletPointListItem::marker{


    color: #00143d; 

}

@media(max-width: 1380px){



    .featureMainContainer {


    width: 100vw; 
    display: grid;
    place-content: center;
    margin: 0 auto; 

    color: white; 



	
}

.gridContainer {

    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;

    /* width: 1295px; */
    width: 80vw; 
    margin: auto; 
    
	
}




}



@media(max-width: 1130px){


    .gridContainer {

    display: grid;
    place-content: center;
    grid-template-columns: 1fr;

    width: 90vw; 
    margin:  auto; 
    
	
}


.mainImage{


    width: 90vw; 
    height: 90vw; 




}







}





@media(max-width: 500px){


    
    .gridContainer {

    display: grid;
    place-content: center;
    grid-template-columns: 1fr;

    width: 90vw; 
    margin: auto; 

    
	
}

.mainHeading{



    font-size: 1.875rem;
    width: 85vw; 

    
}



.bulletPointListItem{

    color: #eeede8; 


}

.mainImage{

    width: 90vw; 
    max-width: 90vw; 
    margin: auto !important; 



    height: 90vw; 
    min-width: none;
    min-height: none; 





}


.bulletPointListContainer{


    font-size: 1rem !important;





}

.cta{


    margin-bottom: 1rem; ;

}





}