.featureGridContainer {


    width: 60vw; 
    margin: auto; 
    display: grid;  
    place-content: center;

}



.headlineContainer {


    display: grid;
    place-content: center;
    margin: 1em auto; 

    font-size: var(--mainSectionHeadingFontSize);
    font-weight: 600;   
    color: var(--main-heading-emphasis-color); 


}

.featureGrid {


    display: grid;
    place-content: center;  
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem; 

    width: 995px; 
    text-align: center;


}

.gridItem {

    display: grid;
    place-content: center;
    margin-left: 1.75rem; 


}


.thirdItem{







}

.gridImg{


    width: 200px; 
    height: 200px; 
    align-self: center; 
    margin: 0 auto;


}

.gridSupportingText {


    width: 473px; 
    max-width: 473px; 
    margin: 0 auto; 
    margin-top: 1.3rem; 
    font-size: var(--main-section-font-size);
    color: var(--primary-font-color);
    font-weight: 600;


}


@media(max-width: 1100px){ 


    .featureGrid {


    display: grid;
    place-content: center;  
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem; 

    /* width: 995px;  */
    width: 60vw; 
    text-align: center;


}


.gridSupportingText {


    width:  330px; 
    max-width: 473px; 
    margin: 0 auto; 
    margin-top: 1.3rem; 



    font-size: calc( var(--main-section-font-size) - 5px );

    color: var(--primary-font-color);
    font-weight: 600;


}




}



@media(max-width: 700px){

     .featureGrid {


    display: grid;
    place-content: center;  
    grid-template-columns: 1fr;
    gap: 2.5rem; 

    width: 60vw; 
    text-align: center;


}


.gridSupportingText {


    width: 80vw; 
    max-width: 80vw;
    margin: 0 auto; 
    margin-top: 1.3rem; 



    font-size: calc( var(--main-section-font-size) );

    color: var(--primary-font-color);
    font-weight: 600;


}






}


@media(max-width: 500px){


    .headlineContainer{


        width: 90vw; 
        font-size: 1.875rem; 



    }
    

    .gridSupportingText{



        font-size: 20px;


        text-align: center;
        display: grid;
        place-content: center;
        min-width: 90vw !important;

        line-height: 1.2;   





    }

    .featureGrid{

        margin: auto !important; 
        width: 99.99vw; 
        



    }

    .gridItem {

    display: grid;
    place-content: center;
    margin: auto; 
        



}




}
