


.mainTextCotnainer{


    width: 100vw; 
    background-color: #79a479;

}




.mainText{


    text-align: center;
    color: #eeede8; 
    
    font-size: 24px; 
    max-width: 812px;
    margin: auto; 
    padding: 5rem 0; 
    font-weight: 600;   
    




}



.studentName{


    display: block;
    line-height: 1.5;
    margin-top: 1rem; 
    
    



}



@media(max-width: 600px){


    .mainText{


    text-align: center;
    color: #eeede8; 
    
    font-size: 18px; 
    width: 90vw; 
    
    margin: auto; 
    padding: 5rem 0; 


}



}