

.spanLabel{

}


.hamburgerNav{



    width: 100vw; 
    max-height: 90px;
    min-height: 70px; 
    
    position: relative;


    display: grid;
    place-content: center;
    z-index: 999999999999999;
    background-color: #013699;

    


}



.hamburgerIconContainer{


    position: absolute;
    right: 0; 
    width: 100vw; 
    max-height: 20px !important ;
    /* z-index: 999999999999999; */





}


.hamburgerIconNav{


    position: absolute;

    height: 5rem; 
    width: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem; 


    right: 1rem;
    top: -0.5rem;; 

    display: grid;
    place-content: center;
    z-index: 999999;
    cursor: pointer;




}

.hamburgerIconButtonIconContainer{


    position: absolute;
    z-index: 9999999;
    left: 1.5rem; 
    top: 1.45rem; 



}


.logoIconImage{



    width: 3.3rem; 
    height: 1.3rem; 





}


.checkBox{



    margin-bottom: -3rem;
    position: absolute; 
    opacity: 0;


}


.hamburgerIconButton{





}


.hamburgerBar{


    transform-origin: center;
    transition: 0.5s ease;

    width: var(--hamburgerBarWidth);
    height: var(--hamburgerBarHeight); 

    background-color: var(--backgroundColor);
    margin-top: var(--hamburgerMargin);

    display: block;
    border-radius: var(--borderRadius);

    

}


#firstBar{



}


#secondBar{




}



#thirdBar{



}


.checkBox{




}



.hamburgerMenu{



    width: 100vw; 
    min-height: 110vh;
    overflow-x: hidden;
    overflow-y: scroll;



    background-color:#013699;
    color: white;
    font-weight: 400;

}



.hamburgerMenuList{



    height: 100%; 
    width: 85%; 
    margin: auto; 
    font-size: 1rem;
    padding-bottom: 5rem;

}


.hamburgerMenuListItem{


    margin-bottom: var(--hamburgerListItemMargin);


}



.hamburgerSectionLink{







}



.hamburgerSectionLabel{


    font-weight: 600;
    margin-bottom: 5rem;
    
    

}

#hamburgerSeeElement{


    margin-top: 0.4rem; 






}



.hamburgerResourceNestedList{

    margin-left: 1rem; 


}



.hamburgerResourceNestedListItem{


    margin-bottom: var(--hamburgerListItemMargin);



}


.hamburgerSectionListItem{


    margin-bottom: var(--hamburgerListItemMargin);






}



.hamburgerNestedListLink{






}



.hamburgerAboutLabel{


    font-weight: 600;   



}



.hamburgerAboutNestedList{


    margin-left: 1rem; 
    margin-top: var(--hamburgerListItemMargin); 





}



.hamburgerAboutNestedListItem{


    margin-bottom: var(--hamburgerListItemMargin); 



}




.hamburgerAboutNestListLink{





}




.hamburgerLoginLink{




}



.hamburgerOpenIvviLink{

    border-color: #ef7a1a;
    border-radius: 40px;;
    background-color: var(--cta-background-color); 
    padding: 8px 16px; 
    font-weight: 600;
    margin-top: 2rem !important; 

    display: grid; 
    place-content: center; 

    max-width: 101px;
    max-height: 41.7px;





}


#ivviCTA{



    margin-top: 2rem !important; 


}











aside{

    transition: 1s ease;
    transform: translate(0, -64rem);
    position: absolute;
    right: 0; 
    padding-top: 2rem; 



}


.hamburgerIconContainer:has(input:checked) aside {

        
        transform: translate(0, 2rem);


}


.hamburgerIconNav:has(input:checked) #firstBar {

    transform: rotate(var(--rotationAngle)) translate(-7px, 6px) !important ;
    background-color: var(--activeBackgroundColor);


}

.hamburgerIconNav:has(input:checked) #secondBar {


    display: none;


}

.hamburgerIconNav:has(input:checked) #thirdBar {


    /* transform: rotate(-45deg) translate(2px, -15px) ; */
    transform: rotate(-45deg) translate(1.7px, -15px) ;

    background-color: var(--activeBackgroundColor);


}


/* Add in the effects here  */

