.navbar {


    width: 100vw; 
    max-width: 100vw; 
    margin: 0 auto; 
    background-color: var(--navbar-background-color);
    height: var(--navbar-height); 

	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 99999999;
	font-weight: 400; 

	font-size: 18px; 
	font-family: var(--text-font-family); 
	line-height: 1.5; 

}


.LogoContainer {


    height: 83.5px;
    position: absolute; 
    left: 7.5rem; 
    top: 30px; 

	
}

.navLogo {
	width: auto;
	height: 52px;
}

.navigationContainer {

    display: flex;

    justify-content: flex-end;
    height: 85px; 
    align-items: center;
	margin: 0 10px; 

    width: 93vw; 
	color: var(--navbar-font-color); 
	margin-top: 0.5px; 
    



	
}

.navigationButtonList {

    display: flex;
	display: flex; 
	align-items: center; 
	list-style: none;


    
}

.navigationListItem {


	margin-right: 35px; 
	/* margin: 0 10px;  */





	
}

.navLink {
	
}


#login{







}







#resourceDropDown {
	
}

#teamDropdown {
	
}

#cta {


	background-color: var(--cta-background-color); 
	border-radius: var(--cta-border-radius); 
	width: 108px; 
	height: 43.5px; 
	min-width: 108px; 

	display: grid; 
	place-content: center; 
	/* font-weight: var(--cta-font-weight);  */
	font-weight: 700; 
	font-size: 90%; 





	
}

/* Mobile Styles */
@media (max-width: 768px) {
	.navbar {


		display: none !important;

		
	}
	

	/* Adjust the absolute positioning of the logo  */
	.LogoContainer {


		left: 1rem; 
		

		
	}
	
	.navigationContainer {
		
	}
	
	.navigationButtonList {
		
	}
	
	.navigationListItem {
		
	}
	
	.navLink {
		
	}
	
	#resourceDropDown {
		
	}
	
	#teamDropdown {
		
	}
	
	#cta {
		
	}
}

/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
	.navbar {

		display: none !important;
		
	}
	
	.LogoContainer {
		
	}
	
	.navigationContainer {
		
	}
	
	.navigationButtonList {
		
	}
	
	.navigationListItem {
		
	}
	
	.navLink {
		
	}
	
	#resourceDropDown {
		
	}
	
	#teamDropdown {
		
	}
	
	#cta {
		
	}
}

@media(max-width: 1100px){

		.LogoContainer {

			display: none;
		
	}

}



/* Desktop Styles */
@media (min-width: 1025px) {
	.navbar {


		
	}
	
		.LogoContainer {


			
		}
	
	.navigationContainer {
		
	}
	
	.navigationButtonList {
		
	}
	
	.navigationListItem {
		
	}
	
	.navLink {
		
	}
	
	#resourceDropDown {
		
	}
	
	#teamDropdown {
		
	}
	
	#cta {
		
	}
}


@media(max-width: 1205px){


	.LogoContainer {


		left: 2rem !important; 


	}



}

