


.mainContainer{


    padding: clamp(3.5rem, 7vw, 7rem) 1.25rem;
    padding-bottom: clamp(1rem, 2vw, 2rem);
    width: 100%; 
    margin: 0 auto;

    display: grid;
    place-content: center;
    color: #00143d; 
    background-color: #d3c9bf;  


}


.mainParagraph{

    max-width: 800px;
    text-align: center;
    font-size: clamp(1.1rem, 1.5vw, 1.5rem);
    line-height: 1.65;
    margin-bottom: 1rem; 
    font-family: "Nunito";
    font-style: normal;

     


}



.details{

    margin: 0 auto; 
    text-align: center;
    font-size: clamp(1rem, 1.2vw, 1.3rem);
    font-family: "Nunito";



}