.specGrid {
	width: 100%;
	background-color: #eeede8;
	padding-top: 3rem;
}

.mainHeadline {
	display: grid;
	place-items: center;
	text-align: center;
	padding: 0 1rem 1.6rem;
	font-size: clamp(2rem, 4vw, 3.2rem);
	font-weight: 600;
	color: #013699;
}

@media (max-width: 1024px) {
	.mainHeadline {
		padding-left: 2rem;
		font-size: calc(clamp(2rem, 4vw, 3.2rem) + 0.5rem);
	}
}
