.section {
	width: 100%;
	background-color: #eeede8;
	padding: 4rem 1.25rem;

}

.grid {
	

	width: 80vw; 

	margin: 0 auto;
	display: flex;
	gap: 1rem;
	align-items: center;


}

.gridReverse .textContainer {
	order: 2;

	
}

.gridReverse .mediaContainer {
	order: 1;
}


.textContainer {
	color: #00143d;

	min-width: 470px; 
	max-width: 477px; 
	
}

.heading {
	font-size: clamp(2rem, 3.5vw, 3rem);
	line-height: 1.15;
	font-weight: 600;
	margin-bottom: 1rem;
	color: #013699; 




}

.description {
	font-size: clamp(1rem, 1.25vw, 1.5rem);
	line-height: 1.6;
	max-width: 62ch;
}

.mediaContainer {
	width: 100%;
	display: grid;
	place-items: center;

}

.media {
	/* width: min(100%, 720px); */
	/* width: 722px;  */
	min-width: 722px; 


	height: auto;
	border-radius: var(--image-border-radius);
}

@media (max-width: 1024px) {
	.section {
		padding: 3rem 1rem;
	}

	.grid {
		grid-template-columns: 1fr;
		gap: 1.75rem;
	}

	.gridReverse .textContainer,
	.gridReverse .mediaContainer {
		order: initial;
	}

	.media {
		/* width: min(100%, 720px); */
		/* width: 722px;  */
		/* min-width: 722px;  */
		width: 86vw; 
		min-width: 0; 
		margin: auto; 

	
	
		height: auto;
		border-radius: var(--image-border-radius);
	}


	.grid {
	

		width: 86vw; 
	
		margin: 0 auto;
		display: grid; 
		grid-template-columns: 1fr; 
		justify-content: center; 



	
	}


	.textContainer {
		color: #00143d;
	
		/* min-width: 470px;  */
		/* max-width: 477px;  */
		min-width: 0; 
		width: 86vw; 
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		box-sizing: border-box;
		text-align: left; 
		
		
	}


}
