
.textContainer{


    display: grid;
    place-content: center;
    width: 100vw; 
    margin: auto; 
    padding: 7.7rem 0; 
    background-color: #c8c8c5;





}





.mainText{


    text-align: center;
    color: #00143d;
    font-size: 24px; 
    max-width: 812px;
    

}



.studentName{


    display: block;
    line-height: 1.5;
    margin-top: 1rem; 
    
    



}