/* ImageText Component Styles */

.featureMainContainer {


    /* outline: 11px solid lime; */

    width: 70vw; 
    display: grid;
    place-content: center;
    margin: 0 auto; 

    background-color: #eeede8;
    color: var(--primary-font-color); 

	
}

.gridContainer {

    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1.3fr;

    /* width: 45vw;  */
    width: 1080px; 
    margin: 9rem auto; 
    /* outline: 2px solid lime; */
    
	
}

.imageContainer {


	
}

.mainImage{
     
    
    
    height: 507px; 
    min-height: 507px;
    width: 507px; 
    min-width: 507px;

    
    
    
    border-radius: var(--image-border-radius);
    -webkit-border-radius: var(--image-border-radius);
    -moz-border-radius: var(--image-border-radius);
    -ms-border-radius: var(--image-border-radius);
    -o-border-radius: var(--image-border-radius);






}




.textContainer {
	
}

.mainHeading {

    font-size: var(--mainSectionHeadingFontSize);
    /* font-size: 1.4rem; */
    font-weight: 600;
    line-height: 1.2;

    margin-top: 3.12rem; 
    margin-left: 1.3rem; 




	
}

.supportingText {


    font-size: var(--main-section-font-size);
    width: 564.5px; 
    
    max-width: 564.3px;
    margin-top: 5px; 



	
}

.ivviSpan{



    margin: 0 0.25em;




}



.bulletPointListContainer {



    font-size: var(--main-section-font-size); 
    margin-top: 1.35rem; 
    margin-left: 3.3rem; 




	
}

.bulletPointList {


    list-style: number;

    margin-top: -0.6rem; 





	
}

.bulletPointListItem {


    /* color: var(--bullet-point-color);  */
    color: #013699; 


    font-weight: 600;
    max-width: 530px; 

  


	
}

.bulletPointListItem::marker{


    /* color: var(--primary-font-color); */
    color: #013699; 



}



.lastText{


    margin-left: -1.5rem; 
    margin-top: 1rem; 
    font-weight: 600;
    font-size: 24px;
    color: #013699; 

    


}

