/* Hero Component Styles */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Michroma&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=WindSong:wght@400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Michroma&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=WindSong:wght@400;500&display=swap');




.hero {

    padding: 0 !important;
    margin: 0 !important; 

    margin: 0 auto; 

    width:100vw; 
    height: 100vh; 
    min-height: 100vh;
    position: relative; 

    /* display: grid;   */
    /* place-content: center; */




	
}

.heroContentContainer {


    width: 100vw;
    width: 1400px; 
    position: relative;
    z-index: 9999999;
    margin: 0 auto; 

    padding-bottom: 10vh;
    padding-top: 20vh;
    
    
    display: flex;


	
}


.heroBackgroundImage{



    
        position: absolute;
        width: 100vw; 
        min-height: 100vh !important;


    
}

.heroTextContainer {


    position: relative; 
    z-index: 2; 
    color: var(--primary-font-color); 
    font-family: "Lato", sans-serif !important; 
    /* margin-left: 20vw;  */

    margin-left: 200px; 


    


}

.DSASubHeading {


    
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Nunito Sans", sans-serif !important;


}

.heroMainHeader {


    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;

	
}


.mobileHeader{


    display: none !important; 


}

.heroSupportingText {


    /* width: 14vw;  */
    /* Add in a fixed size here  */
    width: 333px; 


    
    font-size: clamp(1rem, 1vw + 1rem, 1.55rem);
	
}

.heroCompTitle {


    font-weight: 900;
    font-size: 1.225rem;
    display: inline; 


 


	
}

.compTitleType {

    
    font-size: 1.1rem;


	
}

.notesSpan{


        display: block;



}


.mainSupportingText{

    width: 333px; 
    display: inline-block;





}





.heroCTAButton {
    
    
    width: 223px;
    height: 50px;
    
    background-color: var(--cta-background-color);
    color: var(--cta-font-color); 
    font-weight: 700;
    font-size: 1.17rem;

    border-radius: var(--cta-border-radius);
    -webkit-border-radius: var(--cta-border-radius);
    -moz-border-radius: var(--cta-border-radius);
    -ms-border-radius: var(--cta-border-radius);
    -o-border-radius: var(--cta-border-radius);


    margin-top: 1rem; 
    display: grid;
    place-content: center;



}

.heroCTALink {
	
}

.heroLaptopImageContainer {


    position: relative;
    z-index: 3;

	
}

.mobileHeroLaptopImageContainer{


    display: none;




}




.heroLaptopImg{



    /* width: 33vw;  */
    /* Add in a fixed width for the height here */
    width: 829px;

    height: 500px;

    position: relative;
    z-index: 9;


}



/* Add in the media queries here  */

@media(max-width: 1430px) {
    

    .heroTextContainer {


    position: relative; 
    z-index: 2; 
    color: var(--primary-font-color); 
    font-family: "Lato", sans-serif !important; 
    /* margin-left: 20vw;  */

    /* margin-left: 150px;  */
    margin-left: 10vw; 



    


}

@media(max-width: 1320px){


    
    .heroTextContainer {


    position: relative; 
    z-index: 2; 
    color: var(--primary-font-color); 
    font-family: "Lato", sans-serif !important; 
    margin-left: 5.5vw; 



    


}

/* Add in the laptop image here  */

.heroLaptopImg{



    /* width: 33vw;  */
    /* Add in a fixed width for the height here */
    /* width: 829px; */
    /* aspect-ratio: ; */
    width: 60vw; 
    height: 40vw;
    /* aspect-ratio: 1.7; */

    /* height: 500px; */

    position: relative;
    z-index: 9;


}


/* Add in the text here and make it responsive  */

@media(max-width: 1120px){

    /* make the here element stacked here */
    .heroContentContainer {


        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        margin: 0 auto; 

        width: 90vw; 




    }

    .mobileHeroLaptopImageContainer{


        display: inline-block;





    }

    /* Add in the hero lapto img here  */
    .heroLaptopImg{


        width: 85vw; 





    }

    .heroLaptopImageContainer{



        display: none !important;





    }


    
.heroCTAButton {
    
    
    width: 223px;
    height: 50px;
    
    font-size: 18px;


}

.heroTextContainer{


    font-size: 30px !important;
    text-align: left;
    margin-left: 0 !important; 


}

.heroMainHeader{


    font-size: 30px !important;


}

.studentSpan{


    display: none !important;



}

.notesSpan{


    display: none;


}



.DSASubHeading{


    font-size: 18px;



}

.mobileHeader{



    display: inline-block !important;


}

.heroSupportingText{


    font-size: 16px;



}




}









}




}



/* short phone */
@media(min-width: 320px) and (max-width: 360px){





}


/* large phone */
@media(min-width: 370px) and (max-width: 550px){



}

/* Tablet */
@media(min-width: 600px) and (max-width: 1050px){






}


/* Laptop  */
@media(min-width: 1200px) and (max-width: 1900px) {






}


/* Desktop */

@media(min-width: 1920px) {








}




/* Add in the media query here that Starts at laptop width and stops just before desktop width  */


/* Add in the media query that starts at Tablet width and stops just before laptop width here */


/* Add in media query that starts at wide phone width and stops just before tablet width  */



/* Add in narrow short phone dimensions here  */


