/* Hero Component Styles */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Michroma&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=WindSong:wght@400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Michroma&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=WindSong:wght@400;500&display=swap');




.hero {

    padding: 0 !important;
    margin: 0 !important; 

    margin: 0 auto; 

    width:100vw; 
    height: 100vh; 
    position: relative; 
	
}

.heroContentContainer {


    width: 100vw;
    margin: 0 auto; 
    padding-bottom: 10vh;
    padding-top: 20vh;
    
    display: grid;
    place-content: center;    
    grid-template-columns: 1fr 1.4fr;

    outline: 5px solid red;

	
}


.heroBackgroundImage{



    
        position: absolute;
        width: 100vw; 
        max-height: 90vh; 




    
}

.heroTextContainer {


    position: relative; 
    z-index: 2; 

    color: black; 


    font-family: "Lato", sans-serif !important; 
    margin-left: 20vw; 


}

.DSASubHeading {


    
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Nunito Sans", sans-serif !important;


}

.heroMainHeader {


    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    width: 90%; 


	
}

.heroSupportingText {


    width: 14vw; 
    /* outline: 3px solid red; */



    font-size: clamp(1rem, 1vw + 1rem, 1.55rem);

    width: 90%; 
    max-width: 400px; 

	
}

.heroCompTitle {


    font-weight: 900;
    font-size: 1.225rem;
    display: inline; 


 


	
}

.compTitleType {

    
    font-size: 1.1rem;


	
}


.mainSupportingText{



    width: 10vw; 
    display: inline-block;





}


.videoBackground{



    width: 831px; 
    height: 468px; 





}





.heroCTAButton {
    width: 223px;
    height: 50px;
    background-color: var(--cta-background-color);
    color: var(--cta-font-color); 
    font-weight: 700;
    font-size: 1.17rem;

    border-radius: var(--cta-border-radius);
    -webkit-border-radius: var(--cta-border-radius);
    -moz-border-radius: var(--cta-border-radius);
    -ms-border-radius: var(--cta-border-radius);
    -o-border-radius: var(--cta-border-radius);

    margin-top: 1rem; 
    /* margin-left: 1rem;  */

    display: grid;
    place-content: center;



}

.heroCTALink {
	
}

.heroLaptopImageContainer {


    position: relative;
    z-index: 3;

	
}

.videoContainer{


    /* 
    
    position: "relative", paddingBottom: "56.25%",width: "714px", height: "470px", maxHeight: '470px',overflow: 'hidden', height: 0, 
    
    
    */

    position: relative;
    /* padding-bottom: 56.25%; */
    width: 714px; 
    height: 470px; 
    overflow: hidden;
    display: grid;
    place-content: center;



}



.mainVideoFrame{



    
    height: 100%; 
    width: 100%; 
    min-width: 714px; 
    min-height: 470px; ;

    /* margin-top: 55%;  */
    margin-top: 14rem;


}




.heroLaptopImg{



    width: 33vw; 
    height: 500px;
    position: relative;
    z-index: 9;


}



/* laptop Media query here */

@media(max-width: 1600px){

    .heroContentContainer {


    width: 90vw;
    margin: 0 auto; 
    padding-bottom: 10vh;
    padding-top: 20vh;
    
    display: grid;
    place-content: center;    
    grid-template-columns: 1fr 1fr;
    
	
}

.heroTextContainer {


    position: relative; 
    z-index: 2; 
    /* color: var(--primary-font-color);  */
    /* color: white;  */
    color: black; 


    font-family: "Lato", sans-serif !important; 
    margin-left: 10vw; 


}






}



@media(max-width: 1300px){


    .heroContentContainer {


    width: 100vw;
    margin: 0 auto; 
    padding-bottom: 10vh;
    padding-top: 20vh;
    
    display: grid;
    place-content: center;    
    grid-template-columns: 1fr 1fr;


	
}




}




@media(max-width: 1150px){


    
    .heroContentContainer {


    width: 100vw;
    grid-template-columns: 1fr;

    width: 90vw; 
    place-content: center;
    margin: auto; 

	
}

.heroTextContainer{


    margin: auto !important; 


}

.heroMainHeader{


    
    font-size: 30px;



}

.heroSupportingText{


    min-width: 80vw !important; 

    font-size: 1rem;



}

.videoContainer{


    /* 
    
    position: "relative", paddingBottom: "56.25%",width: "714px", height: "470px", maxHeight: '470px',overflow: 'hidden', height: 0, 
    
    
    */

    position: relative;
    z-index: 9999;
    padding-bottom: 56.25%;
    padding-right: 2rem;
    padding-left: 2rem; 
    width: 80vw; 
    height: 55vw; 
    overflow: hidden;
    /* outline: 44px solid lime; */
    display: grid;
    place-content: center;



}



.mainVideoFrame{

width: 90vw; 
min-width: 90vw !important; 

height: 55vw; 
position: relative;
z-index: 999;
margin-top: 55vw; 
outline: 4px solid red !important;




}




.heroLaptopImg{



    width: 33vw; 
    height: 500px;
    position: relative;
    z-index: 9;


}







}




@media(max-width: 450px){









}